<div class="container st-post-edit">
    <div class="row">
        <div class="col-12">
            <go-back-link></go-back-link>
            <form [formGroup]="postEditForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="titleControl">Post title:</label>
                    <input [value]="(currentPost$ | async)?.title " formControlName="titleControl" type="text" class="form-control" id="title" aria-describedby="title" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="postContent">Post content:</label>
                    <textarea [value]="(currentPost$ | async)?.body" formControlName="postContentControl" class="form-control" id="postContent" placeholder="Post Content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">
                    {{buttonTitle$ | async}}
                </button>
            </form>

        </div>
    </div>
</div>