.post {
    display: flex;

    a {
        display: block;
        text-decoration: none;
        background: #eef;
        color: #444;
        border-radius: 5xpx;
        padding: 20px 15px;
        margin-bottom: 15px;
        transition: background .2s;
        border: 1px solid #ccc;

        &:hover {
            background: #eff;
        }
    }
}