<div class="container st-login">
    <div class="row">
        <div class="col-12 col-sm-4">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input formControlName="emailControl" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    <small *ngIf="emailDoesNotExist" class="form-text text-danger">Email you've provided does not exist.</small>
                    <small class="form-text text-success">try: Sincere@april.biz</small>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input formControlName="passwordControl" type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

