<div class="container">
  <nav class="row">
    <ul class="col-12">
      <li>
        <a href="javascript:void(0)" routerLink="/posts">posts</a>
      </li>
      <!-- <li>
        <a href="javascript:void(0)" routerLink="/posts/2">posts/2</a>
      </li> -->
      <!-- <li>
        <a href="javascript:void(0)" routerLink="/posts/12314123321">posts/12314123321</a>
      </li> -->
      <!-- <li>
        <a href="javascript:void(0)" routerLink="/account/login">account/login</a>
      </li> -->
      <!-- <li>
        <a href="javascript:void(0)" routerLink="/account">account</a>
      </li> -->
      <li>
        <a href="javascript:void(0)" routerLink="/account/posts">account/posts</a>
      </li>
      <!-- <li>
        <a href="javascript:void(0)" routerLink="/account/posts/create">account/posts/create</a>
      </li>
      <li>
        <a href="javascript:void(0)" routerLink="/account/posts/update">account/posts/update</a>
      </li> -->
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
